/* =========================
   GOOGLE FONT
========================= */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#333;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Top Bar */

.top-bar{
    width: 100%;
    background: #B76E79;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

/* Navbar */

.navbar{
    width: 100%;
    height: 78px;
    background: #fde8ee;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 15px;

}

/* Logo */

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.logo h2{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    color: #B76E79;
}

/* Navigation */

.nav-links{
    display: flex;
    align-items: center;
    gap: 35px;

    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover{
    color: #B76E79;
}

/* Shop Button */

.shop-btn{
    text-decoration: none;
    background: #B76E79;
    color: #fff;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.shop-btn:hover{
    background: #9d5b65;
}

/* Hero top spacing */

.hero{
    margin-top: 125px;
}

.hero{

    width:100%;

    height:100vh;

    background-image:url("images/hero image1.jpeg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    align-items:center;

    padding:0 8%;

    position:relative;

}

.hero-overlay{

    position:absolute;

    inset:0;

    background:rgba(255,255,255,.18);

}

.hero-content{

    position:relative;

    z-index:5;

    max-width:600px;

}

.hero-content h1{

    font-family:'Playfair Display',serif;

    font-size:85px;

    color:#3a231c;

    line-height:0.95;

    margin-bottom:40px;

}
.hero-content h1 span {
    font-style: italic;
    color:#b56b6b;

}


.hero-content p{

    font-size:19px;

    line-height:1.8;

    color:#2d2d2d;

    margin-bottom:40px;

}

.hero-btn{

    display:inline-block;

    text-decoration:none;

    background:#a35858;

    color:white;

    padding:16px 38px;

    border-radius:30px;

    transition:.3s;

    font-weight:600;

}

.hero-btn:hover{

    background:#9F5E67;

}

/* =========================
ABOUT
========================= */

.about{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;

    padding:120px 8%;

}

.about-image img{

    width:520px;

    border-radius:25px;

}

.about-content{

    flex:1;

}

.about-content h2{

    font-size:55px;

    font-family:'Playfair Display',serif;

    margin-bottom:25px;

}

.about-content p{

    font-size:18px;

    line-height:1.9;

    color:#666;

    margin-bottom:20px;

}

/* =========================
PRODUCTS
========================= */

.products{

    padding:120px 8%;

    background:#FFF9F6;

    text-align:center;

}

.products h2{

    font-size:55px;

    font-family:'Playfair Display',serif;

    margin-bottom:60px;

}

.product-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:40px;

}

.card{

    background:white;

    padding:35px;

    border-radius:25px;

    transition:.4s;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-10px);

}

.card img{

    width:220px;

    height:220px;

    object-fit:contain;

    margin-bottom:25px;

}

.card h3{

    font-size:28px;

    margin-bottom:15px;

}

.card p{

    color:#666;

    line-height:1.7;

}

.card span{

    display:block;

    margin-top:20px;

    color:#B76E79;

    font-size:24px;

    font-weight:700;

}/* =========================
/* =========================
WHY CHOOSE US
========================= */

.why{
    padding:120px 8%;
    background:#ffffff;
    text-align:center;
}

.why h2{
    font-family:'Playfair Display',serif;
    font-size:55px;
    margin-bottom:60px;
    color:#333;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.why-card{
    background:#FFF9F6;
    padding:35px 25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-10px);
}

.why-card h3{
    margin:20px 0;
    color:#B76E79;
    font-size:24px;
}

.why-card p{
    color:#666;
    line-height:1.7;
}

/* =========================
REVIEWS
========================= */

.reviews{
    padding:120px 8%;
    background:#FFF9F6;
    text-align:center;
}

.reviews h2{
    font-family:'Playfair Display',serif;
    font-size:55px;
    margin-bottom:60px;
}

.review-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.review-card{
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.review-card:hover{
    transform:translateY(-10px);
}

.review-card p{
    color:#666;
    line-height:1.8;
    margin-bottom:20px;
}

.review-card h4{
    color:#FFD700;
    margin-bottom:10px;
}

.review-card span{
    color:#B76E79;
    font-weight:600;
}

/* =========================
CONTACT
========================= */

.contact{
    padding:70px 8%  30px;
    text-align:center;
    background:#fff;
    scroll-margin-top:120px;
}

.contact h2{
    font-family:'Playfair Display',serif;
    font-size:55px;
    margin-bottom:20px;
}

.contact p{
    color:#666;
    margin-bottom:40px;
}

.contact form{
    max-width:700px;
    margin:auto;
}

.contact input,
.contact textarea{
    width:100%;
    padding:18px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

.contact input:focus,
.contact textarea:focus{
    border-color:#B76E79;
}

.contact button{
    border:none;
    cursor:pointer;
}

/* =========================
FOOTER
========================= */

.footer{
    background:#B76E79;
    color:#fff;
    padding:40px 8% 20px;
    margin-top:0;
}

.footer-container{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:50px;
}

.footer-brand img{
    width:80px;
    margin-bottom:15px;
}

.footer-brand h2{
    font-family:'Playfair Display',serif;
    font-size:42px;
    margin-bottom:15px;
}

.footer-brand p{
    line-height:1.8;
}

.footer-links h3,
.footer-contact h3{
    margin-bottom:20px;
}

.footer-links a,
.footer-contact a{
    display:block;
    color:#fff;
    text-decoration:none;
    margin-bottom:12px;
    transition:.3s;
}

.footer-links a:hover,
.footer-contact a:hover{
    opacity:.8;
}

.footer-bottom{
    text-align:center;
    margin-top:20px;
    padding-top:15px;
    border-top:1px solid rgba(255,255,255,.25);
}

/* =========================
RESPONSIVE
========================= */

@media(max-width:992px){

header{
    padding:20px 30px;
}

.nav-links {
    display:none;
}

.hero-content h1{
    font-size:55px;
}

.about{
    flex-direction:column;
}

.product-container,
.why-container,
.review-container,
.footer-container{
    grid-template-columns:1fr;
}

.about-image img{
    width:100%;
}

.card img{
    width:180px;
    height:180px;
}



@media(max-width:768px){

.hero{
    padding:0 25px;
}

.hero-content h1{
    font-size:42px;
}

.hero-content p{
    font-size:18px;
}

.products h2,
.about-content h2,
.why h2,
.reviews h2,
.contact h2{
    font-size:38px;
}

.shop-btn,
.hero-btn{
    padding:12px 28px;
}

.logo h2{
    font-size:30px;
}

.logo img{
    width:55px;
}
/* ===========================
   Responsive Navbar
=========================== */

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
    color:#8b5e6c;
}

/* Mobile */
@media (max-width:768px){

    .navbar{
        padding:15px 20px;
        position:relative;
    }

    .logo h2{
        font-size:32px;
    }

    .logo img{
        width:50px;
        height:50px;
    }

    .shop-btn{
        display:none;
    }

    .menu-toggle{
        display:block;
    }

    .nav-links{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#f8e8ee;
        flex-direction:column;
        text-align:center;
        padding:20px 0;
        box-shadow:0 8px 20px rgba(0,0,0,.1);
    }

    .nav-links.active{
        display: flex;
    }

    .nav-links li{
        margin:15px 0;
    }

    .nav-links a{
        font-size:18px;
    }
}
